.headingContainer {
  padding: 16px 0;

  .title {
    display: block;

    font-size: 21px;
    font-weight: 600;
    color: #1c315f;
    align-self: center;
  }
}
.poolsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 0 0 0 -10px;

  div:first-child {
    max-height: 400px;
    overflow-y: auto;
  }
}

.pool {
  display: flex;
  flex-direction: column;

  width: 30%;
  margin: 0 0 20px 10px;
  padding: 5px 10px 0;

  color: #6a6a6a;

  border-radius: 6px;
}

.poolTitle {
  font-weight: 600;
  padding-bottom: 6px;
}

.teamList {
  flex-grow: 1;

  min-height: 92px;
  padding: 15px 0 15px;
}
