.modalContainer {
  padding: 20px;
  min-width: 520px;
  width: 30vw;
}

.container {
  margin-bottom: 10px;
}

.selectedOptionComponent {
  margin-top: 20px;
}

.btnsWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}