.flexcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;

  p {
    margin-right: 4px;
    text-align: right;
  }
}

.btnsWrapper {
  margin-left: 8px;
}

.selectContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.selectWrapper {
  width: 49.5%;
}

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}