.container {
  width: 510px;
  padding: 32px;
}
.sectionTitle {
  color: #1c315f;
  font-size: 24px;
  font-weight: 600;
}
.buttonsGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  & > :first-child {
    margin-right: 15px;
  }
}

.buttonsWrapp {
  display: flex;
  justify-content: space-between;
}

.sectionItem {
  color: #6a6a6a;
  padding: 5px;
  margin-top: 10px;
}

.sectionRow {
  display: flex;
  justify-content: space-between;
}
.sectionTitle {
  color: #1c315f;
  width: 747px;
  margin: auto;
}

.addSelectItem {
  color: #6a6a6a;
  padding: 5px;
  margin-top: 10px;
  display: flex;

  input:disabled {
    background: #e8e8e8;
  }
}

.selectItems {
  display: block;
  margin: 8px;
}

.selectItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3px 0;
  border-radius: 6px;
  padding: 6px 15px;
  background: white;
}

.disabled {
  background: #e8e8e8;
  color: #b3b3b3;
}

.closeIcon {
  cursor: pointer;
}