.team {
  padding: 3px 2px 7px;

  font-size: 17px;
  line-height: 24px;
  color: #00a3ea;
}

.teamName {
  position: relative;
  padding-left: 25px;
}

.contactName, .phone_num {
  width: 25%;
}

.contactName {
  width: 25%;
  padding-left: 25px;
}

.btnsWrapper {
  width: 13%;
}

.btnsCopyWrapper {
  width: 10%;
}
