.mainSearchTournamentItem {
  margin: 0;

  border-bottom: 1px solid #666666;
}

.mainSearchTournamentItem:last-child {
  margin: 0 0 10px;
}

.mainSearchItemLink {
  display: block;

  padding: 5px 10px;

  color: #000000;
  text-decoration: none;
}

.mainSearchItemLink:hover,
.mainSearchItemLink:focus {
  background-color: #e4e4e4;

  outline: none;
}

.mainSearchItemTitle {
  margin: 0 0 5px;

  font-size: 18px;
  font-weight: 500;
}

.mainSearchItemDescription {
  color: #6a6a6a;
}
