.section {
  width: 510px;
  padding: 32px;
}

.titleWrapper {
  margin: 0 0 15px;
}

.selectWrapper {
  margin: 0 0 25px;
}

.inputsWrapper {
  margin: 0;
  padding: 0;

  border: 0;
}

.inputsList {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0 0 25px;

  list-style: none;

  li {
    width: 45%;
  }
}

.btnsWrapper {
  display: flex;
  justify-content: space-between;
}

.btnDeleteWrapper {
  color: #ff0f19;
}

.btnWrapper {
  margin-left: 15px;
}
.sectionLabel {
  margin: 7px 0;
  font-size: 16px;
  font-weight: 600;
  color: #6a6a6a;
  margin-bottom: 7px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.sectionItemColorPicker {
  color: #6a6a6a;
  padding-bottom: 4px;
  height: 36px;
  margin-top: 1px;
  z-index: 1;
}

.selectDate {
  margin: 50px 10px 20px 10px;
}